<%- include("./partials/_header"); %>
<body>
  <ul>

    <% for (let key in longURL) { %>
      <li>ShortURL: <%= key %></li>
      <form method="POST" action="/urls/<%= key %>/" style="margin:50px;">
        <input type="text" name="formUpdate" value="<%= longURL[key] %>">
        <input type="submit" value="Update">
      </form>
    <% } %>

    <p><%= username %></p>



  </ul>
</body>
</html>