<%- include("./partials/_header"); %>

  <ul>
      <li>ShortURL: <%= shortURL %></li>
      <form method="POST" action="/urls/<%= shortURL %>/" style="margin:50px;">
        <input type="text" name="formUpdate" value="<%= longURL.url %>" placeholder="<%= longURL.url %>">
        <input type="submit" value="Update">
      </form>
  </ul>
</body>
</html>

<% console.log(shortURL)%>