<%- include("./partials/_header"); %>

<% if (!id || id === 1) { %>
    <p>Please login or signup from the links.</p>
<% } else { %>
      <% for (let key in urls) { %>
      <ul>
        <li><%= key %><br />&rarr; <a href="<%= urls[key].url %>"><%= urls[key].url %></a></li>
      </ul>
      <a class="btn-edit" href="urls/<%= key %>">Edit</a>
      <form method="POST" action="/urls/<%= key %>/delete">
        <input type="submit" value="Delete">
      </form>
      <% } %>
<% } %>

    </div>
  </body>
</html>