<%- include("./partials/_header"); %>
<body>
  <ul>
    <% for (let key in urls) { %>
      <li><%= key %> -> <a href="<%= urls[key] %>"><%= urls[key] %></a></li>
      <a href="urls/<%= key %>">Edit</a>
      <form method="POST" action="/urls/<%= key %>/delete">
        <form action="/urls/<%= urls[key] %>/delete" method="POST" style="margin:50px;">
        <input type="submit" value="Delete">
      </form>
    <% } %>
  </ul>
</body>
</html>

